<div id="<%= dom_id invoice %>">
  <p>
    <strong>Amount:</strong>
    <%= invoice.amount %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= invoice.balance %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= invoice.desc %>
  </p>

</div>
